extends ../layout


block content
  .col-sm-offset-3.col-sm-7
    .page-header
      - var date = new Date();
      - var d = date.getDate(date);
      - if (d < 10)
      -   d = '0' + d;
      - var m = date.getMonth(date);
      - m++;
      - if (m < 10)
      -   m = '0' + m;
      - var y = date.getFullYear(date);
      - var day = y + "-" + m + "-" + d;
      h3 Create a new binners pickup request
    form.form-horizontal(id='request', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-2.control-label(for='address') Address
        .col-sm-7
          input.form-control(type='address', name='address', id='address', placeholder='Address', autofocus, required)
      .form-group
        label.col-sm-2.control-label(for='date') Date
        .col-sm-7
          input.form-control(type='date', name='date', id='date', value=day, required)
      .form-group
        label.col-sm-2.control-label(for='time') Time
        .col-sm-7
          input.form-control(type='time', name='time', id='time', value='15:00', required)
      .form-group
        label.col-sm-2.control-label(for='amount') Number of Bottles
        .col-sm-7.btn-group(data-toggle="buttons")
          label.btn.btn-primary.btn-block
            input(type="radio" name="options" id="amount-small")
            | 15-50
          label.btn.btn-primary.btn-block
            input(type="radio" name="options" id="amount-medium")
            | 51-100
          label.btn.btn-primary.btn-block
            input(type="radio" name="options" id="amount-large")
            | 100+
      .form-group.hidden
        label.col-sm-2.control-label(for='amount') Estimated amount
        .col-sm-7
          input.form-control(type='text', name='amount', id='amount', placeholder='# of containers', autofocus)
      .form-group
        label.col-sm-2.control-label(for='glass') Glass Percentage
        .col-sm-7
          select.form-control(type='glass', name='glass', id='glass', value="0%", required)
            option 0%
            option 25%
            option 50%
            option 75%
            option 100%
          small.form-text.text-muted Glass is much heavier than other containers. This allows binners to know what to expect.
      .form-group
        label.col-sm-2.control-label(for='note') Note
        .col-sm-7
          textarea.form-control(type='text', name='note', id='note', placeholder='E.g. Inside main entrance / Ask reception for key to bins')
      .form-group
        .col-sm-offset-2.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit')
            | Submit
