extends ../layout


block content
  .col-sm-offset-3.col-sm-7
    .page-header
      script.
        var date = new Date();
        var d = date.getDate(date);
        var m = date.getMonth(date);
        if (m < 10)
          m = '0' + m;
        var y = date.getFullYear(date);
        var day = y + "-" + m + "-" + d;
      h3 Create a new binners pickup request
    form.form-horizontal(id='request', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-2.control-label(for='address') Address
        .col-sm-7
          input.form-control(type='address', name='address', id='address', placeholder='Address', autofocus, required)
      .form-group
        label.col-sm-2.control-label(for='date') Date
        .col-sm-7
          input.form-control(type='date', name='date', id='date', value=day, required)
      .form-group
        label.col-sm-2.control-label(for='time') Time
        .col-sm-7
          input.form-control(type='time', name='time', id='time', value='15:00', required)
      .form-group
        label.col-sm-2.control-label(for='time') Bags of Redeemables
        .col-sm-3
          label(for='small-bag') Small Bags
          select.form-control(type='small-bag', name='small-bag', id='small-bag', placeholder='0')
            option 0
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
          small.form-text.text-muted 1 small bag = 10 containers
        .col-sm-3
          label(for='large-bag') Large Bags
          select.form-control(type='large-bag', name='large-bag', id='large-bag', placeholder='0')
            option 0
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
          small.form-text.text-muted 1 large bag = 120 containers
      .form-group
        label.col-sm-2.control-label(for='glass') Glass Percentage
        .col-sm-7
          select.form-control(type='glass', name='glass', id='glass', value='100%', required)
            option 0%
            option 25%
            option 50%
            option 75%
            option 100%
          small.form-text.text-muted Glass is much heavier than other containers. This allows binners to know what to expect.
      .form-group
        label.col-sm-2.control-label(for='note') Note
        .col-sm-7
          textarea.form-control(type='text', name='note', id='note', placeholder='E.g. Inside main entrance / Ask reception for key to bins')
      .form-group
        .col-sm-offset-2.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit')
            | Submit
