extends layout

block content
  link(rel='stylesheet', href='/css/home.css')

  h1.text-center Binners Pick-Up Service
  p.lead.text-center Connect yourself with a binner to pick up your refundable containers.
  p.text-center Pick-up services are available in Metro Vancouver.
  hr
  .row
    .col-xs-12
      h3.text-center.col-xs-12 First time?
      .col-xs-2
      a.btn.btn-primary.col-xs-8(href='signup') Sign up
      .col-xs-2
    .col-xs-12
      h3.text-center.col-xs-12 Returning user?
      .col-xs-2
      a.btn.btn-primary.col-xs-8(href='login') Sign in
      .col-xs-2